@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    
</div>*@
<div>
    <hr />
    <h1>啊哈</h1>
    @{ 
        for (int i = 1; i < 11; i++)
        {
   <input id="@i" type="checkbox" onclick="checkbox(@i)"  value="@i" />
<span>@Html.Raw("第个"+(i)+"选择项")</span>
    <br />
        }
    }
    <br />
    <input type="button" onclick="commit()" value="显示数据"/><br />
    <input id="abc" value="" style="border:0;background-color:white;width:100%"  />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <a href="#" onclick="openurl(); return false;" target="_blank">复制打开</a>
        <script>
            var db,opendb;
            if (indexedDB)
            {
                var peoplestore;
                var sd = indexedDB.deleteDatabase("browerDB");
                sd.onsuccess = function (e) {
                    console.log("删除数据库browerDB成功");
                }
                    opendb = indexedDB.open("browerDB",1);
                    opendb.onsuccess = function (e1) {
                        db = opendb.result;
                        console.log("打开成功");
                        var peopletrans=db.transaction("people","readwrite");
                        var peoplestore=peopletrans.objectStore("people");
                        peoplestore.onsuccess=function(e){
                            console.log("仓库people事务完成");
                        }
                        var person1 = {
                            name:"aa1",
                            email:"aa1@cnki.net",
                            created:new Date()
                        }
                        var person = {
                            name:"aa",
                            email:"aa@cnki.net",
                            created:new Date()
                        }
                        var add=peoplestore.add(person1);
                        peoplestore.add(person);
                     add.onsuccess=function(e){
                         console.log("peopleadd添加完成");
                     }
                     var peopletrans=db.transaction("people","readonly");
                     var peoplestore=peopletrans.objectStore("people");
                     var peopleindex=peoplestore.index("name");
                     var peopleget=peopleindex.get("aa");
                     var range=IDBKeyRange.bound('a','c',false,false)
                     var peoplecousor=peopleindex.openCursor(range);
                     peoplecousor.onsuccess=function(e){
                         var res=e.target.result;
                         if(res)
                         {
                             console.log("cursor读取key："+res.key)
                             for(var filed in res.value)
                             {
                                 console.log("cursor读取值"+res.value[filed]);
                             }
                             res.continue();
                         }
                     }
                     peopleget.onsuccess=function(e){
                         console.log("people读取get成功"+JSON.stringify(e.target.result));
                     }
                        var trans = db.transaction("dbstore", "readwrite");
                        var readtrans=db.transaction("dbstore","readonly");
                        var store = trans.objectStore("dbstore");
                        var  readstore=trans.objectStore("dbstore");
                        var o =[{"stuName":[{"name":"Tom"},{"name":"Jack"},{"name":"jony"}],
                            "className":
                            [{"class":"基础日语"},{"class":"中级日语"},{"class":"Java SE"}]
                        }];
                        var addrequest = store.add("browerDB", 1);
                        store.add("browerDB2", 2);
                        var cousor=store.openCursor();
                        cousor.onsuccess=function(e){
                            var res=e.target.result;
                            if(res)
                            {
                                console.log("cousor遍历数据"+res.key+":"+res.value);
                                res.continue();
                            }
                        }
                        //var del=  store.delete(1);
                        //del.onsuccess=function(e){
                        //    console.log("数据删除：");
                        //}
                        var update=store.put(o,1)
                        var s=  readstore.get(1);
                        update.onsuccess=function(e){
                            console.log("数据更新："+JSON.stringify(e.target.result));
                        }
                        trans.oncomplete = function (e) {
                            console.log("事务创建完成");                          
                        }
                        addrequest.onsuccess = function () {
                            console.log("向dbstore仓库添加数据成功");
                        }
                        s.onsuccess=function(es){
                            var vals=es.currentTarget.result;
                            var jsonval=eval(JSON.stringify(vals));
                            console.log("数据读取成功"+JSON.stringify(vals));
                        }
                    }
                    opendb.onerror = function (e2) {
                        console.log("打开失败");
                    }
                    opendb.onupgradeneeded = function (e3) {
                        console.log("数据库状态更改");
                        db = opendb.result;
                        if (!db.objectStoreNames.contains("dbstore"))
                        {
                            console.log("不存在dbstore仓库");
                           db.createObjectStore("dbstore", {autoIncrement:true})
                        }
                        if(!db.objectStoreNames.contains("people"))
                        {
                            console.log("不存在仓库people");
                            peoplestore=db.createObjectStore("people",{autoIncrement:true});
                            peoplestore.createIndex("name","name",{unique:false});
                            peoplestore.createIndex("email","email",{unique:true});
                        }
                    }
               
            }
            else {
                alert(123);
       
            }
            function checkbox(obj) {
                if ($("#" + obj).is(':checked')) {
                    var item = localStorage.getItem($("#abc").val());
                    if (item == null) {
                        localStorage.setItem($("#abc").val(), "checkbox" + obj + ";");
                    }
                    else {
                        localStorage.setItem($("#abc").val(), item + "checkbox" + obj + ";");
                    }

                }
                else {

                    var item = localStorage.getItem($("#abc").val());
                    var items = item.toString().split(';')
                    items.splice(jQuery.inArray("checkbox" + obj, items), 1);
                    //  alert(items + "checkbox" + obj + "_" + jQuery.inArray("checkbox" + obj, items) + "__" + $.inArray("checkbox" + obj, items));
                    var itemvalue = items.join(';');
                    localStorage.setItem($("#abc").val(), itemvalue);
                }

            }
            function commit() {
                //var cl = localStorage.getItem($("#abc").val());
                //alert(cl)
            }
          
        function openurl() { 
            window.open("#", Math.random().toString() + Date.now().toLocaleString());
        }
        $(function () {
            var los = Math.random().toString() + Date.now().toLocaleString();
            $("#abc").val(los);
        })
        </script>
    </div>